html,body,div,ul,li{
    margin:0;
    padding: 0;
}


/*奇节点*/
table tr{
    font-family: "黑体";
}
table tr:nth-child(odd){
    background-color: #cccccc;
}

table tr:nth-child(-n+4){
    color: red;
}
table th{
    background-color: black;
    color: #ffffff;
}
/*过渡状态*/
input{
    width: 200px;
    margin-top: 50px;
    transition:width 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
    -o-transition:width 2s; /* Opera */
}
input:hover{
    width: 500px;
}
.banner{
    position: relative;
    width: 300px;
    overflow: hidden;
    margin-top: 50px;
}

.banner-container{
    width: 300%;
    height: 100%;
    position: relative;
    left: 0;
    transition: 0.5s left;
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
}
.banner-container li{
    display: inline-block;
    list-style: none;
    width: 300px;
    height: 100px;
}
.banner-container li:nth-child(1){
    background-color: #00f;
}
.banner-container li:nth-child(2){
    background-color: #0f0;
}
.banner-container li:nth-child(3){
    background-color: #f00;
}

.banner-controller{
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner-controller a{
    text-decoration: none;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    background-color: #fff;
    opacity: 0.5;
    text-align: center;
    color: #cccccc;
}
.banner-controller a:visited{
    color: #cccccc;
}

#img1:target~.banner-container{
    left: 0
}
#img2:target~.banner-container{
    left: -100%;
}
#img3:target~.banner-container{
    left: -200%;
}
